:root {
    --pr--color: #03045e;
}

body {
    font-family: "Poppins", sans-serif;
    background: #fff;
}

/* navbar style */

.navbar {
    z-index: 3;
}

* {
    z-index: 2;
}

.accsent-img {
    z-index: 1;
}

.navbar-brand {
    font-size: 22px;
    font-weight: bold;
}

.nav-link {
    font-size: 16px;
}

.nav-link.active {
    font-weight: bold;
}

.btn.btn-primary {
    width: 133px;
    height: 40px;
    background-color: #fff;
    color: var(--pr--color);
    border: none;
    font-size: 16px;
    font-weight: 700;
}

.btn.btn-primary:hover {
    opacity: 0.8;
}

.btn.btn-secondary {
    width: 133px;
    height: 40px;
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 400;
}

.btn.btn-secondary:hover {
    opacity: 0.8;
}

/* Home style */

#home {
    height: 100vh;
    width: 100%;
    background: linear-gradient(119.6deg, #023e8a 0%, #010222 160.61%);
}

.home-img {
    position: absolute;
    width: 608.72px;
    height: 100%;
    left: 50%;
    top: -0.34px;
    z-index: 1;
}

.home-tagline h1 {
    color: #f6eded;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
}

.home-tagline h1 span {
    color: #fff;
}

.home-tagline p {
    font-size: 16px;
    color: #fff;
    margin-bottom: 60px;
    margin-top: 20px;
    line-height: 30px;
    width: 80%;
}

.button-lg-primary {
    width: 237px;
    height: 70px;
    background-color: #fff;
    color: var(--pr--color);
    border: none;
    font-size: 16px;
    font-weight: 700;
}

#home .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

/* Home Waves */
.hero-waves {
    display: block;
    margin-top: 60px;
    width: 100%;
    height: 60px;
    z-index: 5;
    position: absolute;
    bottom: 0;
}

.wave1 use {
    -webkit-animation: move-forever1 10s linear infinite;
    animation: move-forever1 10s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}

.wave2 use {
    -webkit-animation: move-forever2 8s linear infinite;
    animation: move-forever2 8s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}

.wave3 use {
    -webkit-animation: move-forever3 6s linear infinite;
    animation: move-forever3 6s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}

@-webkit-keyframes move-forever1 {
    0% {
        transform: translate(85px, 0%);
    }

    100% {
        transform: translate(-90px, 0%);
    }
}

@keyframes move-forever1 {
    0% {
        transform: translate(85px, 0%);
    }

    100% {
        transform: translate(-90px, 0%);
    }
}

@-webkit-keyframes move-forever2 {
    0% {
        transform: translate(-90px, 0%);
    }

    100% {
        transform: translate(85px, 0%);
    }
}

@keyframes move-forever2 {
    0% {
        transform: translate(-90px, 0%);
    }

    100% {
        transform: translate(85px, 0%);
    }
}

@-webkit-keyframes move-forever3 {
    0% {
        transform: translate(-90px, 0%);
    }

    100% {
        transform: translate(85px, 0%);
    }
}

@keyframes move-forever3 {
    0% {
        transform: translate(-90px, 0%);
    }

    100% {
        transform: translate(85px, 0%);
    }
}

/* About Style */

.about {
    padding: 60px 0 60px 0;
}

.about .icon-boxes h3 {
    font-size: 28px;
    font-weight: 700;
    color: var(--pr--color);
    margin-bottom: 15px;
}

.about .icon-box {
    margin-top: 40px;
}

.about .icon-box .icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border: 2px solid var(--pr--color);
    border-radius: 50px;
    transition: 0.5s;
}

.about .icon-box .icon i {
    color: var(--pr--color);
    font-size: 32px;
}

.about .icon-box:hover .icon {
    background: var(--pr--color);
    border-color: var(--pr--color);
}

.about .icon-box:hover .icon i {
    color: #fff;
}

.about .icon-box .title {
    margin-left: 85px;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 18px;
}

.about .icon-box .title a {
    color: var(--pr--color);
    transition: 0.3s;
    text-decoration: none;
}

.about .icon-box .description {
    margin-left: 85px;
    line-height: 24px;
    font-size: 14px;
}

.about .video-box {
    background: url("../../assets/img/about.png") center center no-repeat;
    background-size: contain;
    min-height: 300px;
}
